---
- name: Check Cron Errors
  hosts: ansible_client
  tasks:
    - name: Ensure cron log file exists
      stat:
        path: /var/log/cron
      register: cron_log_file

    - name: Print cron log content
      debug:
        var: cron_log_file

    - name: Check for errors in cron log
      shell: /bin/grep -iE "error|failed|not permitted|no such file or directory" /var/log/cron > /etc/ansible/playbooks/ERROR/log.txt || true
      register: cron_errors
      ignore_errors: yes
      changed_when: false
      become: yes

    - name: Display cron errors
      debug:
        var: cron_errors.stdout_lines
      when: cron_errors.rc == 2


